@import url('https://fonts.googleapis.com/css?family=Courgette|Great+Vibes&display=swap');

header .menu {
    font-family: font-family: 'Courgette', cursive;
    font-size: 2rem;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    color:antiquewhite;
    margin: 0;
    background-color: black;
}

header .menu a {
     text-transform: uppercase;
    text-decoration: none;
    color:antiquewhite;
}
.logo {
    font-family: font-family: 'Courgette', cursive;
    color:antiquewhite;
    margin: 0;
    background-image: url(img/product.jpg);
    min-height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
#logot {
  font-size: 2rem;
   text-align: left;
}
